
html {
	font-size:62.5%;
}
* {

  font-family: Comfortaa;
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.viewrecipe {
  box-sizing: border-box;
  padding: 3.1rem 2.9rem 3.4rem 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #faeadc;
}
.viewrecipe .tiltle {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 10.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d49961;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.viewrecipe .milk {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 3.3rem;
  border-bottom: solid 0.1rem #37251b;
  box-sizing: border-box;
  flex-shrink: 0;
}
.viewrecipe .milk .group1 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: flex-start;
}
.viewrecipe .milk .group1 .milktext {
  margin-right: 17.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.viewrecipe .milk .group1 .ingredientcomponentmilk {
  width: 11.2rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .brewtime {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 3.3rem;
  border-bottom: solid 0.1rem #37251b;
  box-sizing: border-box;
  flex-shrink: 0;
}
.viewrecipe .brewtime .group2 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.viewrecipe .brewtime .group2 .group3 {
  box-sizing: border-box;
  margin-right: 3rem;
  padding-right: 0.9788rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.viewrecipe .brewtime .group2 .group3 .brewtimetext {
  margin-right: 12.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.viewrecipe .brewtime .group2 .group3 .time2 {
  width: 2.4212rem;
  height: 2.4222rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.viewrecipe .brewtime .group2 .ingredientcomponentbretime {
  width: 5.5rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .sugar {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 3.3rem;
  border-bottom: solid 0.1rem #37251b;
  box-sizing: border-box;
  flex-shrink: 0;
}
.viewrecipe .sugar .group4 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: flex-start;
}
.viewrecipe .sugar .group4 .sugartext {
  margin-right: 20rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.viewrecipe .sugar .group4 .ingredientcomponentsugar {
  width: 6.5rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .coffeegrounds-uwx {
  margin-bottom: 31.9rem;
  width: 100%;
  height: 3.3rem;
  border-bottom: solid 0.1rem #37251b;
  box-sizing: border-box;
  flex-shrink: 0;
}
.viewrecipe .coffeegrounds-uwx .group5 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: flex-start;
}
.viewrecipe .coffeegrounds-uwx .group5 .coffeegroundstext-crN {
  margin-right: 4.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.viewrecipe .coffeegrounds-uwx .group5 .ingredientcomponentcoffeeground {
  width: 12.6rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .group6 {
  margin: 0rem 3.2rem 2.5rem 2.9rem;
  width: calc(100% - 6.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.viewrecipe .group6 .edittherecipe {
  margin: 0.2rem 2.2rem 0rem 0rem;
  width: 20.1rem;
  height: 4.9rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #faeadc;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad6e2f;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.viewrecipe .group6 .delete {
  margin-bottom: 0.2rem;
  width: 4.9rem;
  height: 4.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.viewrecipe .backtotecipe {
  margin: 0 2.9rem;
  width: calc(100% - 5.8rem);
  height: 5.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.backtorecipe {
  margin: 0rem 2.5rem 0rem 3.8rem;
  width: calc(100% - 3rem);
  height: 5.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: #37251b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4bc84;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
form{
  height: 40rem;
}
.timeButton{
  margin-bottom: 2rem;
}

